@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

.menu {
  background: #FFF;
  border-top: 4px solid #0bd8a2;
  padding: 15px 0;
}

.menu .container-links {
  display: flex;
  justify-content: space-between;
  
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.menu .container-links .logo a {
  color: #7f999e;
  border: 1px solid transparent;
  padding: 7px;
  font-size: 20px;
  font-weight: bold;
}

.menu .container-links .links a {
  color: #7f998e;
  font-size: 10px;
  padding: 10px;
}

.menu .container-links .links a:hover {
  border-bottom: 4px solid #01FAB9;
}

.space {
  background: #F5F5F5;
  height: 20px;
  margin-bottom: 10px;
}

/* MAIN ARTICLES */

.breadcrumbs .create-article {
  background: #fff;
  display: flex;
  justify-content: center;
}

.breadcrumbs .create-article button {
  padding: 10px;
  background: #4a88f4;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.breadcrumbs .create-article button:hover {
  background: #0C61F5;
}

.breadcrumbs .create-article button:focus {
  outline: none;
}

.container-articles {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

/* CARDS */

.cards {
  height: 25rem;
}

.cards .card-body {
  width: 20rem;
  padding: 5px 0;
}

.container-articles .cards a {
  display: inline-block;
  margin: 0 10px;
  color: #000;
}

.container-articles .cards img {
  width: 300px;
  height: 12rem;
}

.container-articles .cards .card-body {
  cursor: auto;
}
