* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Arial';
}

body {
  background: #F5F5F5;
}

a {
  text-decoration: none;
}

.menu {
  background: #FFF;
  border-top: 4px solid #0bd8a2;
  padding: 15px 0;
  margin-bottom: 20px;
}

.menu .container-links {
  display: flex;
  justify-content: space-between;
  
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.menu .container-links .logo a {
  color: #7f999e;
  border: 1px solid transparent;
  padding: 7px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: bold;
}

.menu .container-links .links a {
  color: #7f998e;
  font-size: 10px;
  padding: 10px;
  border-radius: 3px;
}

.menu .container-links .links a:hover {
  border-bottom: 4px solid #01FAB9;
}

/* MAIN ARTICLES */

main .container-articles {
  background: #fff;
  height: 1000px;
}
